[user]
	name = Colin Kennedy
	email = colink@mun.ca
[push]
	default = simple
[alias]
	olog = log --pretty=oneline --abbrev-commit
	glog = log --graph --decorate --oneline --all
	dt = difftool
	dtd = difftool --dir-diff
[diff]
	tool = winmerge
	prompt = false
[difftool]
	prompt = false
[difftool "winmerge"]
  cmd = "'C:/Program Files (x86)/WinMerge/WinMergeU.exe'" -e \"$LOCAL\" \"$REMOTE\"
